[submodule "Projects/Jojo"]
	path = Projects/Jojo
	url = git@github.com:Yuqiwu/Jojo.git
[submodule "Projects/Jerms"]
	path = Projects/Jerms
	url = git@github.com:DevJW2/Jerms.git
[submodule "Projects/JVN"]
	path = Projects/JVN
	url = git@github.com:DevJW2/JVN.git
[submodule "Projects/YoRPG_JIM"]
	path = Projects/YoRPG_JIM
	url = git@github.com:ilam1/YoRPG_JIM.git
[submodule "Projects/Octopi"]
	path = Projects/Octopi
	url = git@github.com:MrEricL/Octopi.git
[submodule "Projects/AstroJellies"]
	path = Projects/AstroJellies
	url = git@github.com:DevJW2/AstroJellies.git
[submodule "Projects/RealTime"]
	path = Projects/RealTime
	url = git@github.com:TakingTheL/RealTime.git
